#header_image {
    background: -webkit-linear-gradient(90deg, rgb( 211, 20, 91 ), rgb( 103, 44, 142 )); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgb( 211, 20, 91 ), rgb( 103, 44, 142 )); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgb( 211, 20, 91 ), rgb( 103, 44, 142 )); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgb( 211, 20, 91 ), rgb( 103, 44, 142 ));
}

.project_image {
    width: 620px;
    height: 420px;
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -310px;
}

.project_header {
    min-width: 375px;
}

#project_stills_still_box_mobile {
    padding-top: 25px;
}