#header_image {
    height: 320px;
}

.project_header {
    padding: 0;
}

.project_button_replacement {
    padding: 20px 0 40px 0;
}

.project_button {

}

.project_description_box {
    padding: 80px 0 80px 0;
}

.project_description_more {
    padding: 50px 0 0 0;
}

.project_description {
    padding: 0;
    height: 500px;
}

.project_stills_still_box {
    width: 1000px;
}

.project_stills_box_box {
    width: 1200px;
}