/*
    This file contains generic shared styles for all of reneeis.cool
*/

html {
    /* This is so that the children of this can be centered */
    width: 100%;
}

body {
    /* Set the google web font here */
    font-family: 'Open Sans', sans-serif;

    /* This is so that the children of this can be centered */
    width: 100%;
}

#main_container {
    width: 1020px;
}

/*
-------------- Menu Items -----------------
*/

#header_image {
    background-position: 50% 50%; /* Center the background image */

    /* TODO: DIMENSIONS Get specific dimensions for the positioning of the menu */
    height: 500px;
    width: 100%;
}

#menu_area {
    color: white;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 1020px;
    height: 50px;
    margin-left: -510px;
    background-color: rgba( 0, 0, 0, .4 );
}

#menu_header {
    background-color: gray;
    width: 200px;
    height: 30px;
    margin: 10px 0 0 40px;
}

#menu {
    margin: 16px 40px 0 0;
}

.menu_item {
    font-style: italic;
    font-weight: bold; /* TODO: Bold italic */
    font-size: 15px;
    padding-left: 35px;
}

#header_box {
    width: 300px;
    background-color: rgba( 0, 0, 0, .4 );
    color: white;
}

#header_box_header {
    font-size: 30px;
    position: relative;
    padding: 15px;
    line-height: 35px;
}

#header_box_header:after {
    content: '';
    background: white;
    position: absolute;
    bottom: 0;
    left: 42px;
    height: 1px;
    width: 225px;
}

#header_box_content {
    font-size: 15px;
    font-weight: lighter;
    padding: 15px;
    text-align: left;
}

/*
-------------- Work Classes -----------------
*/

#work {
    width: 1020px;
    background-color: #F0F4F1;
}

#work_content {
    padding: 30px 40px 65px 30px;
}

#work_header {
    margin-bottom: 30px;
}

.work_item {
    height: 310px;
    background-color: gray;
    margin-bottom: 15px;
}

.work_item_text {
    height: 100%;
    width: 320px;
    background-color: aqua;
}

.work_item_text_content {
    height: 100%;
    padding: 35px 25px 35px 25px;
}

.work_item_text_header {
    font-size: 20px;
    font-weight: bold;
}

.work_item_text_details {
    font-size: 18px;
    font-weight: bold;
}

.work_item_image {
    width: 630px;
    height: 100%;
    background-position: 50% 50%; /* Center the background image */
}

/*
-------------- Footer Classes -----------------
*/

#contact {
    width: 1020px;
    height: 375px;
    background-color: #05080B;
}

#footer {
    width: 1020px;
    height: 100px;
    background-color: #1A1A1A;
}

/*
-------------- Generic Classes -----------------
*/

/* Generic class for left floated object */
.left {
    float: left;
}

/* Generic class for right floated object */
.right {
    float: right;
}

/* Generic class for inline block object (Makes a div not take up it's own line) */
.inline {
    display: inline-block;
}

.table {
    display: table;
}

.table_row {
    display: table-row;
}

.table_cell {
    display: table-cell;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_bottom {
    vertical-align: bottom;
}

.centered {
    margin: 0 auto;
}

.centered_text {
    text-align: center;
}

.clear {
    clear: both
}
