/*
    This file contains generic shared styles for all of reneeis.cool
*/

html {
    /* This is so that the children of this can be centered */
    width: 100%;
}

/* Add the fonts */
@font-face {
    font-family: 'Gotham';
    src: url("/fonts/gothambold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'Gotham';
    src: url("/fonts/gothammedium.otf") format("opentype");
    font-weight: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url("/fonts/gothamthin.otf") format("opentype");
    font-weight: 200;
}

body {
    /* Set the google web font here */
    font-family: 'Gotham', arial, sans-serif;

    /* This is so that the children of this can be centered */
    width: 100%;
}

img {
    z-index: 0;
}

#main_container {
    width: 100%;
}

/*
-------------- Menu Items -----------------
*/

#header_image {
    background-position: 50% 50%; /* Center the background image */
    background-size: cover;

    /* TODO: DIMENSIONS Get specific dimensions for the positioning of the menu */
    height: 400px;
    width: 100%;
}

#menu_area {
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_width {
    width: 1020px;
    margin: 0 auto;
}

.menu_background {
    background-color: rgba( 0, 0, 0, .4 );

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_header {
    width: 200px;
    height: 30px;
    margin: 10px 0 0 40px;
}

#menu {
    margin: 16px 40px 0 0;
}

.menu_item {
    font-weight: normal; /* TODO: Bold italic */
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 35px;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

#header_box {
    width: 320px;
    background-color: rgba( 0, 0, 0, .4 );
    color: white;
}

#header_box_header {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    padding: 15px;
    line-height: 35px;
}

#header_box_header:after {
    content: '';
    background: white;
    position: absolute;
    bottom: 0;
    left: 42px;
    height: 1px;
    width: 225px;
}

#header_box_content {
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    line-height: 17px;
    padding: 15px;
    text-align: left;
}

/*
-------------- Work Classes -----------------
*/

#work {
    width: 100%;
}

#work_header {
    font-size: 20px;
    text-transform: uppercase;
}

#work_width {
    width: 1020px;
    margin: 0 auto;
}

#work_content {
    margin: 0 auto;
    padding: 60px 18px 60px 18px;
    text-align: center;
}

.work_item {
    display: inline-block;
    text-align: center;
    height: 315px;
    width: 315px;
    background-color: gray;
    margin: 2px;
}

#my_work {
    background-color: #F0F4F1;
}

.work_item_hover {
    background-color: rgba( 0, 0, 0, .5 );
    color: white;

    visibility: hidden;
}

.work_item_hover {
    cursor: pointer;
}

.work_item_hover_title {
    display: inline-block;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.work_item_hover_description {
    font-size: 15px;
    padding-top: 10px;
    font-weight: 200;
}

/*
-------------- Footer Classes -----------------
*/

#who {
    color: white;
    width: 100%;
    height: 320px;
    background-color: #00A99D;
}

#who_header {
    font-size: 15pt;
    font-weight: normal;
    padding: 30px 0 0 40px;
}

#who_content_container {
    position: relative;
    top: 75px;
    width: 100%;
    height: 165px;
}

#who_content {
    width: 820px;
}

#who_image {
    width: 165px;
    height: 165px;
}

#who_text_container {
    width: 615px;
}

#who_text_header {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid rgba( 255, 255, 255, .2 );
}

#who_text {
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    color: rgba( 255, 255, 255, .8 );
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #1A1A1A;
}

.footer_icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 0 14px 0 14px;
    opacity: .7;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.footer_icon:hover {
    opacity: 1;
    cursor: pointer;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*
-------------- Generic Classes -----------------
*/

.height_100 {
     height: 100%;
}

.width_100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

/* Generic class for left floated object */
.left {
    float: left;
}

/* Generic class for right floated object */
.right {
    float: right;
}

/* Generic class for inline block object (Makes a div not take up it's own line) */
.inline {
    display: inline-block;
}

.table {
    display: table;
}

.table_row {
    display: table-row;
}

.table_cell {
    display: table-cell;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_bottom {
    vertical-align: bottom;
}

.centered {
    margin: 0 auto;
}

.centered_text {
    text-align: center;
}

.clear {
    clear: both
}

.line_height_high {
    line-height: 30px;
}

.light {
    font-weight: 200;
}