/*
    This file contains generic shared styles for all of reneeis.cool
*/

html {
    /* This is so that the children of this can be centered */
    width: 100%;
}

body {
    /* Set the google web font here */
    font-family: 'Open Sans', sans-serif;

    /* This is so that the children of this can be centered */
    width: 100%;
}

img {
    z-index: 0;
}

#main_container {
    width: 100%;
}

/*
-------------- Menu Items -----------------
*/

#header_image {
    background-position: 50% 50%; /* Center the background image */
    background-size: cover;

    /* TODO: DIMENSIONS Get specific dimensions for the positioning of the menu */
    height: 500px;
    width: 100%;
}

#menu_area {
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_width {
    width: 1020px;
    margin: 0px auto;
}

.menu_background {
    background-color: rgba( 0, 0, 0, .4 );

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu_header {
    width: 200px;
    height: 30px;
    margin: 10px 0 0 40px;
}

#menu {
    margin: 16px 40px 0 0;
}

.menu_item {
    font-style: italic;
    font-weight: bold; /* TODO: Bold italic */
    font-size: 15px;
    padding-left: 35px;
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

#header_box {
    width: 320px;
    background-color: rgba( 0, 0, 0, .4 );
    color: white;
}

#header_box_header {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    padding: 15px;
    line-height: 35px;
}

#header_box_header:after {
    content: '';
    background: white;
    position: absolute;
    bottom: 0;
    left: 42px;
    height: 1px;
    width: 225px;
}

#header_box_content {
    font-size: 15px;
    font-weight: lighter;
    font-style: normal;
    line-height: 17px;
    padding: 15px;
    text-align: left;
}

/*
-------------- Work Classes -----------------
*/

#work {
    width: 100%;
    background-color: #F0F4F1;
    color: rgba( 255, 255, 255, .8 );
}

#work_width {
    width: 1020px;
    margin: 0px auto;
}

#work_content {
    margin: 0px auto;
    padding: 30px 40px 65px 30px;
}

#work_header {
    color: #0E283F;
    font-weight: bold;
    font-style: italic;
    font-size: 15pt;
    margin-bottom: 30px;
}

.work_item {
    height: 310px;
    background-color: gray;
    margin-bottom: 15px;
}

.work_item_text {
    height: 100%;
    width: 320px;
    background-color: aqua;
}

.work_item_text_content {
    height: 100%;
    padding: 35px 25px 35px 25px;
}

.work_item_text_header {
    font-size: 20px;
    font-weight: 600;

}

.work_item_text_header a {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba( 255, 255, 255, .4 );
}

.work_item_text_description {
    font-size: 15px;
    font-weight: lighter;
    line-height: 19px;
}

.work_item_text_details {
    font-size: 18px;
    font-weight: 400;
}

.work_item_image {
    width: 630px;
    height: 100%;
    background-position: 50% 50%; /* Center the background image */
}

/*
-------------- Footer Classes -----------------
*/

#who {
    color: white;
    width: 100%;
    height: 320px;
    background-color: #05080B;
}

#who_header {
    font-size: 15pt;
    font-weight: 400;
    font-style: italic;
    padding: 30px 0 0 40px;
}

#who_content_container {
    position: relative;
    top: 75px;
    width: 100%;
    height: 165px;
}

#who_content {
    width: 820px;
}

#who_image {
    width: 165px;
    height: 165px;
}

#who_text_container {
    width: 615px;
}

#who_text_header {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid rgba( 255, 255, 255, .2 );
}

#who_text {
    padding: 20px 0 0 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: rgba( 255, 255, 255, .8 );
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #1A1A1A;
}

.footer_icon {
    width: 30px;
    height: 30px;
    background-size: 100%;
    margin: 0 14px 0 14px;
    opacity: .7;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.footer_icon:hover {
    opacity: 1;
    cursor: pointer;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*
-------------- Generic Classes -----------------
*/

.bold {
    font-weight: bold;
}

/* Generic class for left floated object */
.left {
    float: left;
}

/* Generic class for right floated object */
.right {
    float: right;
}

/* Generic class for inline block object (Makes a div not take up it's own line) */
.inline {
    display: inline-block;
}

.table {
    display: table;
}

.table_row {
    display: table-row;
}

.table_cell {
    display: table-cell;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_bottom {
    vertical-align: bottom;
}

.centered {
    margin: 0 auto;
}

.centered_text {
    text-align: center;
}

.clear {
    clear: both
}

.line_height_high {
    line-height: 30px;
}