#header_image {
    text-align: center;
}

.project_header {
    font-size: 40pt;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    text-align: center;
    display: inline-block;
    margin: 0px auto;
    padding-top: 120px;
}

.project_subheader {
    font-size: 12pt;
    font-weight: 200;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.project_button_replacement {
    font-size: 12pt;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 0px;
}

.project_button {
    font-size: 12pt;
    font-weight: normal;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 0px auto;
    border: 1px solid;
    padding: 8pt 15pt 8pt 15pt;
}

.project_image {
    width: 820px;
    height: 426px;
    position: absolute;
    top: 290px;
    left: 50%;
    margin-left: -410px;
}

.project_description_box {
    width: 100%;
    background-color: white;
    text-align: center;
}

.project_description {
    padding-top: 380px;
    padding-bottom: 50px;
    display: inline-block;
    font-size: 22pt;
    font-weight: normal;
}

.project_description_more {
    display: inline-block;
    font-size: 16pt;
    font-weight: 200;
    width: 700px;
    padding-bottom: 80px;
}

.project_description b {
    font-weight: bold;
}

.project_stills_box {
    width: 100%;
    background-color: #F0F4F1;
    text-align: center;
    padding-bottom: 150px;
}

.project_stills_box_box {
    position: relative;
    width: 1020px;
    margin: 0px auto;
}

.project_stills_header {
    padding-top: 50px;

    color: #0E283F;
    font-weight: normal;
    font-size: 15pt;
}

.project_stills_circles_container {
    padding-top: 15px;
    margin-bottom: -10px;
}

.project_stills_circle {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px 0 3px;
}

.project_stills_circle_filled {
    background-color: black;
}

.project_stills_circle_unfilled {
    background-color: transparent;
}

.project_selection_box {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 13pt;
    font-weight: 200;
}

.project_selection_name {
    display: inline-block;
    padding: 0 0 6px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid;
}

.project_stills_still_box {
    position: relative;
    width: 760px;
    display: inline-block;
}

.project_stills_still_box img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

#left_arrow {
    position: absolute;
    width: 35px;
    height: 34px;
    background-image: url( '../images/left_arrow.png' );
    top: 320px;
    left: 40px;
}

#right_arrow {
    position: absolute;
    width: 35px;
    height: 34px;
    background-image: url( '../images/right_arrow.png' );
    top: 320px;
    right: 40px;
}